<div class="bg-light nicontainer">
    <h3>Carga de productos</h3>
    <hr>
    <form id="load_product">
        <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="text" name="price" class="form-control" id="price">
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Imagen</label>
            <input type="text" name="thumbnail" class="form-control" id="thumbnail">
        </div>
        <div class="mb-3"></div>
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
        </div>
    </form>
</div>